@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* universal and shared css selectors */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1399px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

/* ==================================== */

/* Navigation section */

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}

.logo {
    cursor: pointer;
}

.logo>img {
    margin-right: 1.25rem;
    height: 2.5rem;
}

.logo>.logo-text {
    font-size: 3rem;
    font-weight: 700;
}

.logo-text>span {
    color: #FF42A5;
}

nav {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 130px;
}

.navbar {
    justify-content: space-between;
}

.menu {
    gap: 2rem;
}

.follow-us {
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    gap: 1.5rem;
}

/* ==================================== */


/* intro section */
.main-intro{
    justify-content: space-between;
}
.intro{
    background: url(./images/Vector-2.png);
}
.intro>.title-1 {
    color: #0B0223;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 5px;
}

.intro .title-2 {
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}

.intro>.title-list {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 10px;
    margin-bottom: 1rem;
}

.title-list>div {
    height: 24px;
}

.buttons {
    gap: 24px;
    margin-top: 2.5rem;
}

.buttons>button {
    padding: 20px 40px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-1 {
    background-color: #FF42A5;
}
.btn-2 {
    background-color: #4EC5F7;
}
.intro-images > img{
    width: 100%;
}

/* ==================================== */
/* Media query for mobile devices */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    /* nav section */
    nav {
        height: auto;
        padding: 1.25rem 0;
    }

    .navbar,
    .menu {
        flex-direction: column;
    }

    .menu {
        margin-top: 3rem;
    }
    /* intro section */
    /* .intro{
        margin: 0px 3rem;
    } */
    .intro-images > img{
        /* width: 100%;
        padding: 20px; */
    }
    .main-intro{
        flex-direction: column-reverse;
        gap: 60px;
        margin-top: 74px;
    }
}